<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>656385206165-u60icbe7p675tqtsro5pm6om1f7qcum9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656385206165-u60icbe7p675tqtsro5pm6om1f7qcum9</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Z1AOw3DOl-EKNdCMSO06f5xclBhZ_8A</string>
	<key>GCM_SENDER_ID</key>
	<string>656385206165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nahu.iNahuChat</string>
	<key>PROJECT_ID</key>
	<string>inahuchat-f3057</string>
	<key>STORAGE_BUCKET</key>
	<string>inahuchat-f3057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:656385206165:ios:3e3405d4dd8f1865</string>
	<key>DATABASE_URL</key>
	<string>https://inahuchat-f3057.firebaseio.com</string>
</dict>
</plist>